# Google OAuth 2.0 Client ID
# Create one at: https://console.cloud.google.com/apis/credentials
# Authorised JavaScript origins: http://localhost:5173
# Authorised redirect URIs: http://localhost:5173
VITE_GOOGLE_CLIENT_ID=your_client_id_here.apps.googleusercontent.com
